@import '@angular/material/prebuilt-themes/indigo-pink.css';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
}

body{
  font-family: roboto;
}

input, select, button, textarea{
  font-family: roboto;
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
